[Desktop Entry]
Version=1.0
Type=Application
Name=Me and My Shadow
GenericName=Me And My Shadow
Comment=MeAndMyShadow is a puzzle/platformer game
TryExec=meandmyshadow
Exec=meandmyshadow
Icon=meandmyshadow
Categories=Game;LogicGame;
